@tailwind base;
@tailwind components;
@tailwind utilities;

body, * {
  font-family: 'Reckless Neue';
}
@font-face {
  font-family: "Reckless Neue";
  src: local("Reckless Neue"),
   url("./fonts/font_2/RecklessNeue-Book.ttf") format("truetype");
  }
  